.head {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.sidebar-icons {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.menu-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1rem;
}

.logout-btn {
  margin-bottom: 1rem;
}
